
.box{
    display: none;
}
#rhodos.active{
    display: block;
}
#rome.active{
    display: block;
}
#budapest.active{
    display: block;
}
#paris.active{
    display: block;
}
#amsterdam.active{
    display: block;
}